// Basic styles

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=cyrillic,latin);

body{
  background: $bodycolor url(images/headers/flag.jpg) no-repeat top center;
  color: $textcolor;
  // @include font-size;
  // @include line-height;
  font-size: 1em;
  line-height: 1.5;
}
a{
  color:$linkcolor;
  @extend .transition;
  &:hover,&:active{
    text-decoration: none;
    color:$linkcolor-hover;
  }
}
h1{
  font-size:em($basefont-size*2);
  margin-bottom: em($baseline-height,$basefont-size*2);
}
h2{
  font-size:em($basefont-size*1.5);
  margin-bottom: em($baseline-height/2,$basefont-size*1.5);
}
h3{
  font-size:em(28);
  margin-bottom: em($baseline-height/2,28);
}
h4{
  font-size:em(24);
  margin-bottom: em($baseline-height/2,24);
  font-weight: normal;
}
.small{
  font-size:em(12);
}

.entry-title{  font-weight: lighter;}

.entry-content .social-likes li{margin-left:3px;}

// Smaller screens

@media (max-width: $break-mid) {
  html {font-size: 85%;}

  }
@media (max-width: $break-small) {
  html {font-size: 100%;}
  body{background-image: none!important;}
  }

#content article{
  margin-bottom: em($baseline-height);
}

.dflt-btn{
  color:#fff;
  width:inherit;
  padding:0 10px;
  line-height:30px;
  border:none;
  background:#d62017;
  &:hover{
    text-decoration: none;
    background: darken(#d62017, 20%);
  }
}

.transition{@include transition(all 0.3s linear);}

.doc-label{
  font-size: em(20);
  padding-left: 5px;
}