 .contacts-container{
  position: relative;
  overflow: hidden;
 }
 .map-container{
    width:110%;
   height:670px;
    overflow: hidden;
    margin-left: -10%;
  }

.container #post-30{margin-bottom:0;}
.contacts-content_block{
  margin-top: em(140);
  padding:em(24);
  padding-bottom:0;
  background: rgba(0,0,0,0.8);
  z-index: 100;
  position: absolute;
  margin-left: -20px;
  max-width: 480px;
  a{color:$linkcolor-hover};
  @media only screen and (max-width: $break-small) {
  position: relative;
  background:transparent;
  margin-top: em(40);
  }
}
.contacts-row{
  overflow:visible;
  min-width:inherit;
}
.contacts-content_block input,.contacts-content_block textarea{
  background: transparent;
  border: 1px solid white;
  padding:2px;
  padding-left:6px;
  width:100%;
  color:#fff;
  @extend .transition;
  &:focus{
    @extend .transition;
    border-color:#d62017;
    outline:0;
  }
}
.contacts-content_block .wpcf7-submit{
 @extend .dflt-btn;
}

.contacts-content_block div.wpcf7-mail-sent-ok, .contacts-content_block div.wpcf7-validation-errors{border:0}
.contacts-content_block .wpcf7-not-valid-tip{
  padding:2px 10px;
  color:#fff;
  background: rgba(0,0,0,0.8)
}