@import "mixins";
@import "vars";
.container {
  padding-left: 20px;
  padding-right: 20px; }

.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  margin-right: 3.8%;
  float: left;
  min-height: 1px; }
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11 {
  // margin-bottom:em($baseline-height);
  }
.row .col1 {
  width: 4.85%; }

.row .col2 {
  width: 13.45%; }

.row .col3 {
  width: 22.05%; }

.row .col4 {
  width: 30.75%; }

.row .col5 {
  width: 39.45%; }

.row .col6 {
  width: 48%; }

.row .col7 {
  width: 56.75%; }

.row .col8 {
  width: 65.4%; }

.row .col9 {
  width: 74.05%; }

.row .col10 {
  width: 82.7%; }

.row .col11 {
  width: 91.35%; }

.row .col12 {
  width: 100%;
  float: left; }

.last {
  margin-right: 0px; }

img, object, embed {
max-width: 100%;
}

img {
	height: auto;
}




@media only screen and (max-width: $break-small) {

	.row, body, .container {
	width: 100%;
	min-width: 0;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	}

  .row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
  width: auto;
  float: none;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  }
  .row .col2,.row .header-contacts{width:43%; float:left;}

  .row .incol {
    padding:0;
  }

  .row .col2s{width:13.45%!important;float:left}
  .row .col3s{width:22.05%!important;float:left}

  .row .col4s{width:30.75%!important;float:left}

  .row .col6s{width: 48%!important;float:left}


  // .row .col4s, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {


}