body.page-template-kiokushin-php{background: #140f0b url(images/headers/kiokushin.jpg) no-repeat top center;}
body.parent-pageid-26 .menu-item-452 a{
  color:$linkcolor-hover;
  text-decoration: none;
}

.kiokushin-menu{
  margin:92px 0 40px 20px;
  @media only screen and (max-width: $break-small) {
    float:left;
    margin:0 0 40px 20px;
  }

}
.kiokushin-menu li{
  margin-bottom: 3px;
  font-style: italic;
  & a{
    display: inline-block;
    line-height:30px;
    height:30px;
    padding: 0 10px;

  }
  &.current_page_item a{
    background:#a90b00;
    text-decoration: none;
  }
  &.current_page_item li a{
    text-decoration: underline;
    background: transparent;
  }
  .children {
    margin-bottom:0;
    li{
      font-size:em(14);
      margin-left: 10px;
      &:before{content:'—'}
    }
  }
}

.aforizm{
  background: url(images/quote-bg.jpg) no-repeat;
  max-width: 288px;
  max-height: 283px;
  padding:30px 32px 20px;
  @media only screen and (max-width: $break-small) {float:right;}
  p{
    line-height:em(20);
    margin-bottom: em(12);
  }
}
.aforizm-autor{
  color:#fea98e;
  font-style: italic;
}