.page-id-447 .entry-content{
  min-height: 200px;
}
.recommend-cat_title{
  color: #ec202f;
  font-size: em(22)
}
.recommend-entry-title{
  font-size: em(22);
}
// responsive video container
.responsive-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  z-index: 1;
}
  .responsive-embed-container iframe, .responsive-embed-container object, .responsive-embed-container embed,.responsive-embed-container>ymaps,.responsive-embed-container>ymaps>ymaps {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%!important;
      height: 100%!important;
  }

.modal_text a{
  text-decoration: none;
  color: $linkcolor-hover;
}

// image caption

.wp-caption-text{
  text-align: center;
  padding: 5px 0;
  background: rgba(255,255,255,0.7);
}

.gallery-size-threeinrow{
  .gallery-item{
  position: relative;
  float:left;
  margin-right: 5%;
  margin-bottom: 50px;
    .gallery-caption {
      background: rgba(0, 0, 0, 0.5);
      margin-top: -34px;
      margin-left: 0px;
      width: 100%;
      position: absolute;
    }
  }
}

/*
 *  Core Owl Carousel CSS File
 *  v1.18
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -webkit-perspective: 1000;
}
.owl-carousel .owl-wrapper-outer{
  z-index: 2;
  overflow: hidden;
  position: relative;
  width: 92%;
  margin:0 auto;
}
.owl-carousel .owl-item{
  float: left;
}
.owl-controlls .owl-page,
.owl-controlls .owl-buttons div{
  cursor: pointer;
}
.owl-controlls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

/*
*   Owl Carousel Owl Demo Theme
* v1.18
*/

.owl-theme .owl-controlls{
  z-index: 0;
  width: 100%;
  bottom: 28px;
  position: absolute;
  // margin-top: 10px;
  text-align: center;
}
.owl-prev{
  background: url(images/clubs-prev.png);
  float:left;
  &:hover{
    background: url(images/clubs-prev-hover.png);
  }
}
.owl-next{
  background: url(images/clubs-next.png);
  float:right;
  &:hover{
    background: url(images/clubs-next-hover.png);
  }

}
/* Styling Next and Prev buttons */

.owl-theme .owl-controlls .owl-buttons div{
  width:31px;
  height: 87px;
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controlls.clickable .owl-buttons div:hover{
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controlls .owl-page{
  display: inline-block;
  zoom: 1;
  *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controlls .owl-page span{
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controlls .owl-page.active span,
.owl-theme .owl-controlls.clickable .owl-page:hover span{
  opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controlls .owl-page span.owl-numbers{
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

// Плавное изменение элементов при масштабировании

// section, h1, li, img {
//     -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
//     transition: width 1s ease-in-out, left 1.5s ease-in-out;
// }