.blog #content article {
  margin-bottom:0;
  @extend .transition;
  &:hover{
    @extend .transition;
    background-color: #0E2036;
  }
}
// .blog .col10{margin-bottom:0}
.container .entry-date{
  font-size:em(14);
  margin-left:em(10,14);
  font-style: italic;
  vertical-align: bottom;
  letter-spacing: 1px;
  width:7%;
  line-height:em(24,14);
}

.news-entry_title{
  font-size:em(20);
  line-height:em(24,20);

}
.news-entry_title a{
  text-decoration: none;
}
.blog article:hover .news-entry_title a{
  text-decoration: underline;
}
// .blog .social-likes{display: none;}

.comment-counter{
  display:inline-block;
  // margin-top:5px;
  margin-left:10px;
  width:23px;
  height:26px;
  text-align: center;
  font-size:em(12,20);
  // @include line-height(21);
  // font-weight: normal;
  background: url(images/comment-counter.png) no-repeat;
  background-position: center 3px;
}
a .comment-counter:hover {color:#c80211}