.single a {color:#7c6c47}

body.single .menu-item-39 a{
	color: #F31719;
	text-decoration: none;
}

.post-header{margin-bottom: em($baseline-height/2)}
.post .wp-post-image{
	margin-right: 24px;
	margin-bottom: 24px;
	float:left;
}
.entry-utility{
	margin-left: 10px;
	font-style: italic;
	font-size:em(18,32);
}

// excerpt
.entry-excerpt{
	background: #9f1300 url(images/single-excerpt-bg.jpg) no-repeat center;
	padding-top: em(20);
	margin-top: em(-10);
	@include bpx(860px) { background-image: none;}
}

// entry-content
.entry-content_container{
	padding-top: em(24);
	background: #fff;
	color:#020202;
}

//Комментарии

#comments-title,#reply-title{
	font-size:em(22);
	margin-bottom: 6px;
}
.single .navigation{
	height: 40px;
}
.comment-author{
	color:#7c6c47;
	margin-right: 8px;
}
.comment-meta{
	font-size:em(14);
	font-style: italic;
}
.comment-reply{display:none;}
li.comment{
	padding:5px 0;
	@extend .transition;
	&:hover{
	 	background: darken(#fff, 4%);
	 	.comment-reply{display:inline;}
}
}
ol#comments article{
	// @include baseline-gap(0);
	p{
	margin-bottom: em(6);
}
}

.single textarea,.single input{
	background: #fff;
	color:#222;
	padding:6px 10px;
	border:1px solid #585858;
	width:100%;
}
.single input[type="submit"]{
	 @extend .dflt-btn;
	 @extend .transition;
}
.comment-form-url,.form-allowed-tags{display:none}