
.rukov-gray{color:#727272;}
.row .president-thumb{width:19%}
.rukov_president-name{
  margin-bottom: em(12);
}
.rukov_subheader{margin-top: em($baseline-height,24)}

//Таблица Исполнительного комитета
.rukov-table, .rukov-table_states{
  width: 100%;
  margin-bottom: em(48);
}
.rukov-table td,.rukov-table_states td{
  padding-right:20px;
  padding-left:10px;
  line-height:em(48);
}
.rukov-table tr:nth-of-type(odd),.rukov-table_states tr:nth-of-type(odd) {
  background: lighten($bodycolor, 2%);
}

.rukov-cell_dan{
  color:$linkcolor-hover;
  min-width:60px;
}
.rukov-cell_city{
  color:#727272;
}
 .rukov-table_states td{
 }
// Блок поверх остальных
.overlay{
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
display: none;
}
.modal{
margin-top: 60px;
color:$alttextcolor;
display: none;
background:#fff;
padding:36px;
overflow:auto;
z-index:1001;
position:absolute;
max-width: 730px;
min-height: 300px;
}
.modal h2{
  // color:#000;
}
.modal-ul{
 margin-left: 30px;
}
.closeBtn{
  cursor: pointer;
  position: absolute;
  top:10px;
  right: 10px;
  width:12px;
  height: 12px;
  background: url(images/program-close-btn.png);
}
.modal_thumb{
  margin-right: 40px;
}
.rukov-pop-sovet{
  height: em(270);
  img{
    margin-bottom: 8px;
  }
}
.president-thumb{
  min-width: 188px;
  @extend .transition;
}
.president-thumb img{
  border:2px solid white;
}
.president-thumb:hover {
  @extend .transition;
  -webkit-filter:brightness(1.25);
  filter: brightness(1.25);
}
.rukov_president-excerpt ul{
 margin-bottom: em(12);
}
.president_bio-link{
   text-decoration:none;
    color:$linkcolor-hover;
    border-bottom: 1px dashed $linkcolor-hover;
    display:inline;
    @extend .transition;
    &:hover{
      @extend .transition;
      border-bottom: 1px dashed darken($linkcolor-hover,25%);
      color: darken($linkcolor-hover,25%);
    }
}