// Шапка сайта
.site-header{padding-top:em(36);}


@media handheld, only screen and (max-width: $break-small) {
.site-header .logo{
	min-width:em(120);
	float:left;
	width:50%;
}}


// Верхнее меню
.site-header .main-nav{
	@media only screen and (max-width: $break-small) {
	float:left;
}
}
.main-nav .menu{
	padding: 0;
	margin: 0;
	max-width: 350px;
}
.main-nav li{
	margin-right: 12px;
	float: left;
	font-style: italic;
	font-size:em(18);
	margin-bottom:em(10,18);
	width:em(160,18);

	a{
		color:white;
		&:hover,&:active,{
			color:#f31719;
		}
	}
	&.current_page_item a {
		color:#f31719;
    text-decoration: none;
}
}


// Поиск
.top-searchform {
}

.top-searchform [type="search"],
.top-searchform [type="text"] {
	border-radius:5px;
	color: #fff;
  background-color: transparent;
  background-image: url(images/search-icon.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  cursor: pointer;
  height: 26px;
  margin: 0px 0;
  padding:3px 24px 0 10px;
  position: relative;
  -webkit-transition: width 400ms ease, background 400ms ease;
	-moz-transition:    width 400ms ease, background 400ms ease;
	-o-transition:      width 400ms ease, background 400ms ease;
	-ms-transition:     width 400ms ease, background 400ms ease;
	transition:         width 400ms ease, background 400ms ease;
  width: 0;
}

.top-searchform [type="search"]:focus,

.top-searchform [type="text"]:focus {
  background-color:rgba(0,0,0,0.5);
  // border: 1px solid #333;
  cursor: text;
  outline: 0;
  width: 160px;
}

.searchsubmit{display: none}

// Соц-кнопки и выбор языка
.social-and-languages{
		@media handheld, only screen and (max-width: $break-small) {
	display:none;
}
}
.social-btns{
	float:right;
	margin-top:-14px;
}
.soc-btn{
	float:left;
	margin-right:10px;
	@extend .transition;
}
.soc-btn_fb{background: url(images/fb.png) no-repeat;
		&:hover{background: url(images/fb-red.png) no-repeat;}
}
.soc-btn_vk{background: url(images/vk.png) no-repeat;
		&:hover{background: url(images/vk-red.png) no-repeat;}
}
.soc-btn_odk{background: url(images/odnokl.png) no-repeat;
	   &:hover{background: url(images/odnokl-red.png) no-repeat;}
}
.soc-btn_a{
	width:26px;
	height:27px;
	display: block;
}