body.page-template-summer-php{
  background:#050f1a url(images/headers/letnyaya-shkola.jpg) no-repeat top center;
}

.green-big{
  font-size:em(22);
  color: #6485a4;
  margin-bottom: em($baseline-height,22);
}

.near-trips{
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  padding:25px;
  background: #0c2132;
  // max-width: 274px;
}
.near-trips_title{
  font-weight: normal;
  font-size:em(24);
  margin-bottom: em(24,24);
}
.near-trip_date{
  display: inline;
  background:#da1c0f;
  padding:0 10px;
  font-size:em(36);
  line-height:em(47,36);
}
.near-trip_link{
  display: block;
  text-decoration: underline;
  font-size:em(20);
  line-height:em(24,20);
  margin-top: em(18,20);
  margin-bottom: em(12,20);

}
.near-trip_text{
  margin-bottom: em(44);
}