@font-face {
  font-family: 'GrossKunst';
  font-style: normal;
  font-weight: 400;
  src: url('GrossKunst.otf');
}


body.page-template-zaglushka-php,body.page-template-zaglushka-eng-php{
  font-size: 20px;
  font-family: GrossKunst;
  padding-top: 20px;
  padding-bottom: 20px;
  // background:#000;
  background-image: none;

  text-align: center;
}
.champ_header{
  font-size: 24px;
  font-weight: normal;
}
.champ_date{color: #dc0000}

.champ_header2{font-size: 30px;font-weight: normal;}
.champ_skkr{font-size: 12px;color:#5b5b5b;margin-top:-10px}
.champ_kiokushin{
  font-size: 80px;
  font-weight: normal;
  color: #dc0000;
  margin-bottom: -10px;
  margin-top: -20px;
}
.champ_p{
  font-family: PT Sans;
  font-size: 22px;
  margin-top: 130px;
  color:#dc0000;
  @include bpxm(1600px) {margin-top: 180px;}
}
.champ_fighters{
  width:50%;
  @include bpxm(1600px) {width:70%}
}
.ujic_none{max-width:260px;margin: 0 auto}
.bullets{margin-bottom: 10px}
.champ_counter-labels{
  margin: 5px 0;
}
body.page-template-zaglushka-eng-php .countdown_txt{display:none !important}

.modal_protocols .wp-caption{
  padding: 15px;
  background: #eee;
  width: 100%!important;
  min-height: 1px;
  content: " "; /* 1 */
  display: table; /* 2 */
  margin-bottom:10px;
  &:hover{
    @extend .transition;
    background: #F8F8F8;
  }
  img{
    width:75px;
    float: left;
    margin-right:15px

  }
  .wp-caption-text{
    text-align: left;
    background: transparent;
  }
}
.modal_protocols .wp-caption:after{clear: both;}


body.page-template-zaglushka-eng-php .modal, body.page-template-zaglushka-php .modal {
  width: 630px;
}
.modal_puli{
  @extend .president_bio-link;
  color:#fff;
  border-bottom: 1px dashed #fff;
  &:hover{
    color:$linkcolor-hover;
    border-bottom: 1px dashed $linkcolor-hover;
  }
}
